/***************************************************************/
/* Author: db0 (db0company@gmail.com, http://db0.fr/)          */
/* Sources/Licence: https://github.com/db0company/CuteForm     */
/***************************************************************/

.cuteform {
    display: inline-block;
}

.cuteform-elt {
    display: inline-block;
    margin: 3px 5px;
}

.cuteform-elt.cuteform-selected {
    margin: 0 2px;
    border: 3px solid #aaa;
}

.cuteform-modal-text:after {
    content: ' ▼';
}
